* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, header, footer, span, a, p, article {
	font-size: 18px;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	word-break: break-all;
}
ul {
	list-style-type: none;
}
a, a:link, a:visited {
	list-style-type: none;
	color: #000;
}
#main {
	width: 100%;
	display: inline-block;
}

/* header */
#header {
	padding: 16px 12px;
	margin-bottom: 22px;
}
.menubtn, .menubtn_close {
	width: 26px;
	height: 26px;
	/*background: url(image/button_x2.png) no-repeat 0 0;*/
	background-size: 50px 50px;
	float: right;
	margin-top: -3px;
	position: relative;
}
.bar_one, .bar_two {
	transition-duration: 0.5s;
	width: 26px;
	height: 4px;
	border-radius: 2px;
	background-color: #000;
	position: absolute;
	top: 11px;
}
.menubtn .bar_one {
	top: 7px;
}
.menubtn .bar_two {
	top: 15px;
}
.menubtn_close .bar_one {
	top: 11px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menubtn_close .bar_two {
	top: 11px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.blogTitle {
	font-size: 28px;
	font-weight: 700;
	line-height: 0.75;
}
.singleTitle {
	line-height: 0.5;
}
.widgettitle {
	display: none;
}
.top_menu ul li {
	padding: 0 0 12px 0;
	text-align: center;
}
.top_menu a {
	font-size: 20px;
}
.top_menu {
	margin-top: 12px;
	display: none;
}

/* contents */
.index_article_thumb {
	width: 100%;
	height: 0;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50%;
}

.index_article {
	margin-bottom: 48px;
}
.index_title {
    margin: 12px;
    margin-top: 8px;
    display: block;
    font-size: 22px;
}
.single_title {
	margin-left: 12px;
}
.single_content img{
	width: 100%;
	height: auto;
	float: left;
}
.single_content p, .single_content a, .single_content h1, .single_content h2, .single_content h3, .single_content h4, .single_content h5, .single_content h6 {
	margin: 12px;
	line-height: 1.4;
}

/* footer */
#footer {
	padding-left: 12px;
	margin-top: 80px;
	padding-bottom: 20px;
}
#footer span {
	font-size: 16px;
	color: #999;
	line-height: 2;
}

@media (min-width: 1024px) and (min-height: 670px) {
	#container {
		width: 96%;
		margin: auto;
	}
	.index_article {
	    width: 33.33%;
	    float: left;
	}
	.index_title {
		height: 28px;
	}
	#header {
		padding-left: 0;
		padding-right: 0;
	}
	.single_content {
	    margin-top: 80px;
	}
	.single_content p, .single_content a, .single_content h1, .single_content h2, .single_content h3, .single_content h4, .single_content h5, .single_content h6 {
		margin-left: 0;
		margin-right: 0;
		line-height: 1.4;
	}
}