* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, header, footer, span, a, p, article {
	font-size: 18px;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	word-break: break-all;
}
ul {
	list-style-type: none;
}
a, a:link, a:visited {
	list-style-type: none;
	color: #000;
}
#main {
	width: 100%;
}

/* header */
#header {
	padding: 16px 12px;
	margin-bottom: 48px;
}
.blogTitle {
	font-size: 28px;
	font-weight: 700;
	line-height: 0.75;
	float: left;
    display: inline-block;
}
.widgettitle {
	display: none;
}
.top_menu ul li {
	padding: 0 0 20px 0;
	text-align: center;
}
.top_menu a {
	font-size: 24px;
	font-weight: 700;
}
.top_menu {
	margin-top: 48px;
	display: none;
}
	/* menu bar */
	.categoryButton {
		position: relative;
		float: right;
		width: 26px;
		height: 26px;
		margin-top: -3px;
	}
	.categoryButton_bar_one, .categoryButton_bar_two {
		width: 26px;
		height: 4px;
		border-radius: 2px;
		background-color: #000;
		position: absolute;
		-ms-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	.categoryButton_bar_one {
		top: 7px;
	}
	.categoryButton_bar_two {
		top: 15px;
	}
	.categoryButton_close {
		position: relative;
		float: right;
		width: 26px;
		height: 26px;
		margin-top: -3px;
	}
	.categoryButton_close .categoryButton_bar_one {
		top: 11px;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.categoryButton_close .categoryButton_bar_two {
		top: 11px;
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

/* single header */
.singleTitle p {
	font-size: 24px;
	line-height: 0.8;
	float: left;
    display: inline-block;
    font-weight: 700;
}
	/* back button */
	.backButton {
		position: relative;
		float: left;
		width: 26px;
		height: 26px;
		margin-top: -3px;
	}
	.backButton_bar_one, .backButton_bar_two {
		width: 16px;
		height: 4px;
		border-radius: 2px;
		background-color: #000;
		position: absolute;
	}
	.backButton_bar_one {
		top: 16px;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.backButton_bar_two {
		top: 6px;
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
/* header end */

/* contents */
.index_article_thumb {
	width: 100%;
	height: 0;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50%;
}
.index_article {
	margin-bottom: 48px;
}
.index_title {
    margin: 12px;
    margin-top: 8px;
    display: block;
    font-size: 22px;
}
.single_title {
	margin-left: 12px;
}
.single_article img{
	width: 100%;
	height: auto;
	float: left;
}
.single_article p, .single_article a, .single_article h1, .single_article h2, .single_article h3, .single_article h4, .single_article h5, .single_article h6 {
	margin: 12px;
	line-height: 1.4;
}
/* content end */

/* footer */
#footer {
	padding-left: 12px;
	margin-top: 80px;
	padding-bottom: 20px;
}
#footer span {
	font-size: 16px;
	color: #999;
	line-height: 2;
}